.login-title {
  background: url(~@/assets/img/title.png) no-repeat;
  background-size: 100% 100%;
  z-index: 9999!important;
  width: 784px;
  height: 136px;
  position: fixed;
  top: 8%;
}
.aui-page__login {
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
  }
  &::before {
    background-image: url(~@/assets/img/login_back.png);
    background-size: cover;
  }
  &::after {
    // background-color: rgba(38, 50, 56, .4);
  }
  .aui-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 20px 150px;
    text-align: center;

    &__wrapper {
      height: 100vh;
      background-color: transparent;
      overflow-x: hidden;
      overflow-y: auto;
    }

  }
  .login-footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: rgba(255, 255, 255, 0.6);
    p {
      margin: 10px 0;
    }
    a {
      padding: 0 5px;
      color: rgba(255, 255, 255, 0.6);
      &:focus,
      &:hover {
        color: #fff;
      }
    }
  }
  // 右侧垂直风格
  &--right-vertical {
    .aui-content {
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;
      padding: 0;
    }
    .login-header {
      flex: 1;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      padding: 30px 120px;
      text-align: left;
    }
    .login-body {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      padding: 120px 30px 150px;
      text-align: center;
      .login-guide {
        margin-top: 0;
      }
    }
    .login-footer {
      right: 0;
      color: $--color-text-regular;
      a {
        color: $--color-text-regular;
        &:focus,
        &:hover {
          color: $--color-primary;
        }
      }
    }
  }
}

.login-content{
  width: 512px;
  height: 379px;
  background: url(~@/assets/img/conent.png) no-repeat;
  background-size: 100% 100%;
  z-index: 9999!important;
  position: absolute;
  top: 30%;
}

.login-content-title{
  color: #fff;
  font-size: 25px;
  padding-top: 40px;
}

.form-span{
  color: #fff;
  float: left;
  font-weight: bold;
  font-size: 15px;
  line-height: 50px;
}

.form-input{
  width: 200px;
  float:left;
  //background: url(~@/assets/img/input.png) no-repeat;
  //background-size: 100% 100%;
  z-index: 9999!important;
  margin-left: 15px;
}
.form-check{
  margin-left: -18%;
}

.form-submit{
  background: url(~@/assets/img/submit.png) no-repeat;
  background-size: 100% 100%;
  width: 174px;
  height: 64px;
  border: 0px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

.form-cancel{
  background: url(~@/assets/img/cancel.png) no-repeat;
  background-size: 100% 100%;
  width: 154px;
  height: 64px;
  border: 0px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.button-span{
  margin: 10px;
}

.el-button--primary {
  border: 0px;
}
.el-button:hover {
  background-color:#3e92cc;
}