/** 初始化 **/

html,
body {
    width: 100%;
    height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
p,
blockquote,
th,
td,
form,
pre {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-font-feature-settings: 'kern'1;
    -moz-font-feature-settings: 'kern'1;
    -o-font-feature-settings: 'kern'1;
    text-rendering: geometricPrecision;
    font-family: "Microsoft YaHei";
    background: url('../image/bg_body.png');
	/* background-color: black; */
	color: white;
	overflow: hidden;
	  transform-origin: left top;
	  transition: transform 0.2s
	/* width: 100vw;
	height: 100vh; */
	/* height: 100vh; */
}

img {
    display: inline-block;
    border: none;
    vertical-align: middle;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.middle_center{
	/*position: absolute;*/
	/*top: 5vh;*/
	/*left: 20vw;*/
	/*width: 12.4vw;*/
	/*height: 50vh;*/
	background: rgba(14, 44, 84, 0.8);
	border: 1px solid #0267C0;
	border-radius: 5px;
	padding: 1.8vh 1.2vw;
}
.middle_center>img{
	width: 100%;
	height: 0.05vh;
}
.middle_Bottom{
	position: relative;
	z-index: 5;;
}
.middle_right_item{
	margin-top: 0.8vh;
}
.middle_right{
	width: 6.3vw;
	height: 20vh;
	background: linear-gradient(90deg, #10397F, rgba(16, 57, 127, 0.5), #10397F);
	box-shadow: -2px 0px 3px 0px rgba(0, 90, 255, 0.53), 2px 0px 3px 0px rgba(0, 90, 255, 0.53);
	opacity: 0.9;
	border-radius: 2px;
	padding: 1vh 0.8vw;
	font-size: 1.3vh;
}
.middle_right_title{
	font-size: 1.3vh;
}
.middle_right_title>img{
	width: 0.4vw;
	height: 1vh;
	margin-right: 0.5vw;
}
.middle_bottom_left_item{
	width: 3.6vw;
	height: 2.8vh;
	background: linear-gradient(0deg, rgba(7, 46, 111, 0.48), rgba(0, 94, 183, 0.32));
	color: #0F88FB;
	font-size: 1.4vh;
	margin-bottom: 1.3vh;
	cursor: pointer;
}
.middle_content{
	width: 54.8vw;
	height: 100vh;
	float: left;
	padding: 0 4.6vw;
}
.middle_top_item{
	width: 14vw;
	height: 10.4vh;
	border: 0.0625rem solid #0267C0;
	border-radius: 0.3125rem;
	position: relative;
}
.middle_top_item_img{
	width: 3vw;
	height: 4.5vh;
	margin-right: 2.2vw;
}
.wgtjTop{
	background:url(../image/组%20478@2x.png);
	background-size: 19vw 5.9vh;
	width: 19vw;
	height: 5.9vh;
	padding: 0 1vw;
}
.wgtjTop>div{
	cursor: pointer;
}
.wgtjTop img{
	width: 2.5vh;
	height: 2.5vh;
}
.bingDetails{
	position: absolute;
	width: 5.6vw;
	height: 9vh;
	background: linear-gradient(90deg, #10397F, rgba(16, 57, 127, 0.5), #10397F);
	box-shadow: -2px 0px 3px 0px rgba(0, 90, 255, 0.53), 2px 0px 3px 0px rgba(0, 90, 255, 0.53);
	opacity: 0.9;
	border-radius: 3px;
	right: 0;
	bottom: 5.8vh;
	padding: 0.9vh 0.52vw;
	font-size: 1.2vh;
}
.wgtjChars{
	height: 25.4vh;
	width: 100%;
	/* margin-top: 2vh; */
}
.clccChar{
	height: 19vh;
	width: 100%;
	/* margin-top: 2vh; */
}
.rydgChar{
	height: 19.9vh;
	width: 100%;
	margin-top: 2.8vh;
}
.circleChart{
	margin-right: 1vw;
}
.detailsNumItem{
	font-size: 0.75rem;
}
.detailsNumItem>img{
	width: 0.4vw;
	height: 1vh;
	margin-right: 0.3rem;
}
.xmjbqk_bottom{
	margin-top: 3.1vh;
}
.xmjbqk_bottom_item{
	margin-bottom: 1.2vh;
	height: 2.3vh;
}
.xmjbqk_bottom_item>div:first-child{
	background: url(../image/条@2x.png);
	width: 10.4vw;
	background-size: 10.4vw 2.3vh;
	font-size: 1.3vh;
	padding-left: 0.62vw;
}
.xmjbqk_bottom_item>div:nth-child(2){
	width: 5.8vw;
	font-size:1.8vh;
	color: #0BD7F0;
	font-weight: bold;
	text-align: center;
	padding: 0 0.15rem 0 0.25rem;
}
.xmjbqk_bottom_item>div:nth-child(3){
	font-size:1vh;
	/* width: 1.4vw; */
	text-align: center;
}
.xmjbqk_top_item_two{
	background: url(../image/矩形%203739@2x.png);
	width: 6.6vw;
	height: 1.8vh;
	background-size: 6.6vw 1.8vh;
	font-size: 1.3vh;
}
.xmjbqk_top_item_one{
	background: url(../image/圈1@2x.png);
	width: 4.5vw;
	height: 7.6vh;
	background-size: 4.5vw 7.6vh;
	font-size: 1.3vh;
	margin-bottom: 1.2vh;
}
.xmjbqk_top_item_one>div{
	font-size: 2.2vh;
	margin-bottom: 0.1875rem;
	color: #0BD7F0;
}
.floatItem_title{
	font-size:1.8vh;
	margin-bottom: 1.2vh;
}
.floatItem_title>div>img{
	width: 54.6%;
	float: right;
}
.floatItem_title>img{
	width: 33%;
}
.floatItem{
	width: 21.2vw;
	padding: 2vh 1.45vw 2.3vh 1.45vw;
	border: 0.0625rem solid #0267C0;
	border-radius: 0.3125rem;
	position: relative;
	margin-bottom: 1.5vh;
	overflow: hidden;
}
.floatItem_borderImg{
	width: 1.9375rem;
	height:1.9375rem;
}
.floatItem_borderImg_leftTop{
	position: absolute;
	left: -0.15625rem;
	top: -0.15625rem;
}
.floatItem_borderImg_rightTop{
	position: absolute;
	right: -0.21875rem;
	top: -0.21875rem;
}
.floatItem_borderImg_rightBottom{
	position: absolute;
	right: -0.15625rem;
	bottom: -0.15625rem;
}
.floatItem_borderImg_leftBottom{
	position: absolute;
	left: -0.21875rem;
	bottom: -0.21875rem;
}
.main_content{
	padding: 1.1vh 1.4vw 0.6vh 1.4vw;
	flex: 1;
}
.float_left{
	float: left;
	height: 100%;
}
.float_right{
	float: right;
	height: 100%;
}
.flex-row{
	display: flex;
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.flex-center{
	align-items: center;
	justify-content: center;
}
.align-center{
	align-items: center;
}
.align-end{
	align-items: flex-end;
}
.align-start{
	align-items: flex-start;
}
.justify-center{
	justify-content: center;
}
.justify-around{
	justify-content: space-around;
}
.justify-between{
	justify-content: space-between;
}
.cursor{
	cursor: pointer;
}
.border{
	border: 1px solid red;
}
.titleImg{
	width: 100%;
	position: relative;
	color: white;
}
.titleImg_one{
	width: 100%;
	height: 10.3vh;
	background: url(../image/标题@2x%20.png);
	background-size: 100% 10.3vh;
	color: #00DCF7;
	font-size: 4.2vh;
	position: relative;
}
.titleImg_one>img{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 10.3vh;
}
.titleImg_date{
	font-size: 1.4vh;
	position: absolute;
	top: 1.5vh;
	left: 1.5vw;
}
.titleImg_date>img{
	width: 0.8125rem;
	height: 0.8125rem;
	margin-right: 0.25rem;
}
.titleImg_btn{
	width: 5.2vw;
	height: 3vh;
	background: linear-gradient(0deg, rgba(7, 46, 111, 0.48), rgba(0, 94, 183, 0.32));
	border-radius: 0.125rem;
	border: 0.0625rem solid #005EB7;
	position: absolute;
	bottom: 1.5vh;
	right: 1.5vw;
	font-size: 1.3vh;
}
* {
    box-sizing: border-box !important;
}
/** 滚动条 **/

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background-color: rgba(14, 148, 234, 0.2);
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, .35);
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, .38);
}


@media screen and (max-height: 670px) {
    .right-top {
        height: 47%;
    }

    .right-center {
        height: 23%;
    }

    .data-box>.data-number {
        height: 1.65rem;
        line-height: 1.65rem;
    }

    .data-box>.settings-box {
        height: 2rem;
    }
}


@media screen and (max-height: 610px) {
    .right-top {
        height: 49%
    }

    .right-center {
        height: 21%;
    }

    .data-box>.data-number {
        height: 1.4rem;
        line-height: 1.4rem;
    }

    .data-box>.settings-box {
        height: 1.6rem;
    }

    .pop-data .ranking-box {
        height: 1.9rem;
        overflow-y: auto;
    }
}