.el-icon-extend-org {
    background: url(~@/assets/img/org.png) center no-repeat;
    background-size: contain;
}

.el-icon-extend-org:before{
    content: "替";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-extend-transferstation {
    background: url(~@/assets/img/transferstation.png) center no-repeat;
    background-size: contain;
}

.el-icon-extend-transferstation:before{
    content: "替";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-extend-institution {
    background: url(~@/assets/img/institution.png) center no-repeat;
    background-size: contain;
}

.el-icon-extend-institution:before{
    content: "替";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-extend-shop {
    background: url(~@/assets/img/shop.png) center no-repeat;
    background-size: contain;
}

.el-icon-extend-shop:before{
    content: "替";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-extend-dustbin {
    background: url(~@/assets/img/dustbin.png) center no-repeat;
    background-size: contain;
}

.el-icon-extend-dustbin:before{
    content: "替";
    font-size: 16px;
    visibility: hidden;
}

.el-icon-extend-dustbinpoint {
    background: url(~@/assets/img/dustbinpoint.png) center no-repeat;
    background-size: contain;
}

.el-icon-extend-dustbinpoint:before{
    content: "替";
    font-size: 16px;
    visibility: hidden;
}