@font-face {
  font-family: "zhhw"; /* Project id 3295785 */
  src: url('zhhw.svg?t=1651894675978#iconfont') format('svg');
}

.zhhw {
  font-family: "zhhw" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhhw-dustbinpoint:before {
  content: "\e627";
}

.icon-zhhw-transferstation:before {
  content: "\e63c";
}

.icon-zhhw-institution:before {
  content: "\e675";
}

.icon-zhhw-org:before {
  content: "\e65b";
}

.icon-zhhw-dustbin:before {
  content: "\e646";
}

.icon-zhhw-shop:before {
  content: "\e9ec";
}

